{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Home</h1>

    {% if app.user %}
        <p>Welcome Home {{ app.user.firstname }} {{ app.user.name }} !</p>

        {% else %}
        <p>Welcome</p>        

    {% endif %}

</div>
{% endblock %}
